.success,
.error {
    color: #fff !important;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

body {
    padding: 70px;
    background: rgb(247, 195, 255);
    background: linear-gradient(155deg, rgba(247, 195, 255, 1) 0%, rgba(49, 44, 255, 1) 100%);
}

.container h3 {
    text-align: center;
}

#submit {
    background: linear-gradient(155deg, rgba(49, 44, 255, 1) 0%, rgba(247, 195, 255, 1)100%);
    border: 1px solid black;
    transition: all liner 0.3s;
}

#submit:hover {
    border: 1px solid black;
    color: #0c0c0c;
}

.book-list-container {
    border-radius: 15px;
    border: 1px solid gray;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}